@if (!isAutenticado()) {
<div class="box centrado">
  <a [routerLink]="['/login']">Login</a>
</div>
} @if (isAutenticado()){
<div class="box centrado">
  <a style="cursor: pointer" (click)="salir()">Salir</a>
</div>
}

<!--<div *ngIf="!isAutenticado()" class="box centrado">
  <a [routerLink]="['/login']">Login</a>
</div>
<div *ngIf="isAutenticado()" class="box centrado">
  <a style="cursor: pointer" (click)="salir()">Salir</a>
</div>-->
<!-- Older versions of Angular -->

<div class="box" id="heading">
  <h1>{{ titulo }}</h1>
</div>

<router-outlet></router-outlet>
